@import '../../../../assets/constants';

.sidebar {
  background-color: $sidebar_background;
  border-right: 1px solid $border_color;

  .column {
    padding: $layout_padding;
  }

  &__brand {
    border-bottom: 1px solid $border_color;
    display: flex;
    align-items: center;
    height: $navigation_height;
    background-color: $navbar_background;
  }
}

:host {
  flex-grow: 1; // Enable full height
}
