<div class="flex flex-col w-full">
  <div class="flex justify-between mb-2">
    <div class="uppercase tracking-wide text-xs font-bold text-gray-400">
      Notes
    </div>
    <button
      class="flex items-center text-gray-400 hover:text-gray-600"
      (click)="onClickAddNote()"
    >
      <i aria-hidden="true" class="material-icons md-18">add_circle_outline</i>
    </button>
  </div>

  <!-- Loading state -->
  <p *ngIf="loading$ | async">Loading...</p>

  <!-- Empty note -->
  <div
    *ngIf="(hasNotesInStorage$ | async) === false"
    class="bg-gray-100 text-gray-400 p-2 text-center text-sm font-bold rounded"
  >
    Empty note list
  </div>

  <!-- Note list -->
  <a
    class="flex items-center w-full my-1 px-3 py-1 border border-transparent rounded"
    *ngFor="let note of notes$ | async"
    [routerLink]="['/notes', note.id]"
    routerLinkActive="bg-gray-100"
  >
    <i aria-hidden="true" class="material-icons md-14">description</i>
    <div class="flex flex-col pl-2">
      <div class="text-xs font-semibold">
        {{ note.title | emptyNoteTitle }}
      </div>
      <div class="text-xs text-gray-400">
        {{ note.dateCreated | date: 'dd/MM/yyyy' }}
      </div>
    </div>
  </a>
</div>
