@import '../../../../assets/styles/_constants.scss';
@import '../../../../assets/styles/_dialog.scss';

.mn-Main {
  border-radius: 0 !important;
  min-width: 20rem;

  .mn-Dialog-header {
    display: flex;
    border-bottom: 1px solid $border_color;

    .menu-title {
      display: flex;
      align-items: center;
      padding: 1rem;
      font-weight: 600;
    }
  }

  .mn-Dialog-body {
    padding: 1rem;
  }
}
