<div class="mn-Overlay" *ngIf="isNoteListOpen$ | async" @fadeInOut></div>

<aside class="mn-MenuBar" *ngIf="isNoteListOpen$ | async" @slideInOut>
  <div class="mn-MenuBar__Header">
    <div class="menu-title mr-auto">
      <i aria-hidden="true" class="material-icons">apps</i>
      <span class="pl-2">NOTES</span>
    </div>
    <app-button
      (buttonClick)="onClickClose()"
      [buttonStyles]="closeButtonStyles"
    >
      <i aria-hidden="true" class="material-icons">close</i>
    </app-button>
  </div>
  <div class="mn-MenuBar__Body">
    <app-button
      type="button"
      class="add-button-wrapper"
      [buttonStyles]="addButtonStyles"
    >
      + Add Note
    </app-button>
    <div class="note-list d-flex flex-column">
      <app-button
        type="button"
        [buttonStyles]="noteListButtonStyles"
        class="note-list__body Active d-flex align-items-center"
      >
        <i aria-hidden="true" class="material-icons md-18 description-icon">
          description
        </i>
        <div class="d-flex flex-column pl-2">
          <div class="note-title">Angular Service Provider</div>
          <span class="note-subtitle">
            12/02/2020
          </span>
        </div>
      </app-button>
      <app-button
        type="button"
        [buttonStyles]="noteListButtonStyles"
        class="note-list__body d-flex align-items-center"
      >
        <i aria-hidden="true" class="material-icons md-18 description-icon">
          description
        </i>
        <div class="d-flex flex-column pl-2">
          <div class="note-title">Angular Service Provider</div>
          <span class="note-subtitle">
            12/02/2020
          </span>
        </div>
      </app-button>
    </div>
  </div>
</aside>
