<nav class="topbar d-flex align-items-center">
  <div class="topbar__title mr-auto">
    <app-note-title [title]="(activeNote$ | async)?.title"></app-note-title>
  </div>

  <div class="pl-2 d-flex">
    <app-button>
      <i aria-hidden="true" class="material-icons md-18">delete</i>
    </app-button>
    <app-toggle-button
      [checked]="isPreview$ | async"
      (buttonClick)="onClickPreview($event)"
    >
      <i aria-hidden="true" class="material-icons md-18">visibility</i>
    </app-toggle-button>
    <app-button>
      <i aria-hidden="true" class="material-icons md-18">save</i>
    </app-button>
  </div>
</nav>
