<div
  class="fixed top-0 left-0 right-0 bg-white border-b border-gray-200 h-16 flex items-center"
>
  <div class="w-1/4 xl:w-1/5 pl-6 pr-4 py-3 flex justify-items-start">
    <a class="block" routerLink="/">
      <img
        width="114"
        height="33"
        src="assets/images/marknotes-brand.svg"
        alt="Marknotes Logo"
      />
    </a>
  </div>
  <div class="w-3/4 xl:w-4/5 flex">
    <div class="flex items-center justify-end w-full pl-4 pr-6 py-3">
      <a href="" class="text-sm">About</a>
      <button
        class="ml-6 text-sm text-white bg-blue-600 hover:bg-blue-800 py-1 px-4 rounded"
      >
        Login
      </button>
      <button
        class="ml-6 text-sm text-blue-600 hover:text-white bg-transparent hover:bg-blue-600 border border-blue-600 py-1 px-4 rounded"
      >
        Sign up
      </button>
    </div>
  </div>
</div>
