.left-section,
.right-section {
  display: flex;
  flex-direction: column;
}

.left-section {
  flex: 1;
}

.right-section {
  flex: 4;

  /* Show overflow-x on code-blocks */
  overflow-x: hidden;
  overflow-y: auto;

  .main-content {
    flex: 1;
  }
}
