<div class="mn-Overlay" role="dialog">
  <div class="mn-Dialog-main">
    <div class="mn-Dialog-header">
      <span>Delete Note</span>
      <app-button
        (click)="onActions(Click.Cancel)"
        [buttonStyles]="buttonStyles"
      >
        <i aria-hidden="true" class="material-icons">
          clear
        </i>
      </app-button>
    </div>
    <div class="mn-Dialog-body">
      Are you sure you want to delete
      <em>{{ data.title }}</em>
      ? If you delete your note, you will permanently lose it.
    </div>
    <div class="mn-Dialog-footer">
      <button (click)="onActions(Click.Cancel)" class="btn btn-outline-dark">
        Cancel
      </button>
      <button (click)="onActions(Click.Success)" class="btn btn-danger">
        Delete
      </button>
    </div>
  </div>
</div>
