<!-- Topbar -->
<div
  class="fixed top-0 left-0 right-0 bg-white border-b border-gray-200 h-16 flex items-center"
>
  <div class="w-1/4 xl:w-1/5 pl-6 pr-4 py-3 flex justify-items-start">
    <a class="block" href="javascript: void(0);">
      <img
        width="114"
        height="33"
        src="assets/images/marknotes-brand.svg"
        alt="Marknotes Logo"
      />
    </a>
  </div>
  <div class="w-3/4 xl:w-4/5 flex">
    <div class="flex items-center justify-end w-full pl-4 pr-6 py-3">
      <a href="" class="text-sm">About</a>
      <button
        class="ml-6 text-sm text-white bg-blue-600 hover:bg-blue-800 py-1 px-4 rounded"
      >
        Login
      </button>
      <button
        class="ml-6 text-sm text-blue-600 hover:text-white bg-transparent hover:bg-blue-600 border border-blue-600 py-1 px-4 rounded"
      >
        Sign up
      </button>
    </div>
  </div>
</div>

<!-- Hero section -->
<div
  class="flex flex-col items-center bg-gray-100 pt-32 pb-20 px-6 border-b border-gray-200"
>
  <h1 class="text-5xl font-semibold">Simplify and beautify your notes.</h1>
  <div class="font-light">
    Marknotes provides a convenient way of note takings.
  </div>
  <button
    class="mt-8 text-sm text-white bg-blue-600 hover:bg-blue-800 py-1 px-4 rounded"
  >
    Try it now!
  </button>
  <img
    class="mt-6 shadow-2xl"
    src="/assets/images/desktop-placeholder.png"
    alt="Marknotes screenshoot in a tablet"
    width="850"
    height="550"
  />
</div>

<!-- Features section -->
<div class="flex flex-col items-center px-6 py-20 border-b border-gray-200">
  <h2 class="text-4xl font-semibold mb-16">Features</h2>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 xl:grid-cols-4">
    <div class="flex flex-col p-6 border border-gray-300 rounded-lg">
      <i aria-hidden="true" class="material-icons md-36 text-blue-500">
        storage
      </i>
      <div class="text-2xl my-1 text-gray-800 font-semibold">Cloud storage</div>
      <p class="text-gray-500 tracking-wide max-w-xs">
        Access your notes everywhere as they are saved in the cloud.
      </p>
    </div>
    <div class="flex flex-col p-6 border border-gray-300 rounded-lg">
      <i aria-hidden="true" class="material-icons md-36 text-blue-500">
        text_fields
      </i>
      <div class="text-2xl my-1 text-gray-800 font-semibold">
        Markdown format
      </div>
      <p class="text-gray-500 tracking-wide max-w-xs">
        Notes are written using Markdown to provide easy formatting and styling.
      </p>
    </div>
    <div class="flex flex-col p-6 border border-gray-300 rounded-lg">
      <i aria-hidden="true" class="material-icons md-36 text-blue-500">reply</i>
      <div class="text-2xl my-1 text-gray-800 font-semibold">
        Share to your friends
      </div>
      <p class="text-gray-500 tracking-wide max-w-xs">
        Share your notes to friends through a link sharing.
      </p>
    </div>
    <div class="flex flex-col p-6 border border-gray-300 rounded-lg">
      <i aria-hidden="true" class="material-icons md-36 text-blue-500">
        landscape
      </i>
      <div class="text-2xl my-1 text-gray-800 font-semibold tracking-wide">
        Clean user interfaces
      </div>
      <p class="text-gray-500 tracking-wide max-w-xs">
        Marknotes strive to provide clean and minimal user interfaces!
      </p>
    </div>
  </div>
</div>

<!-- Footer -->
<div
  class="bg-white border-b border-gray-200 flex flex-col items-center w-full p-8"
>
  <div class="flex">
    <a href="#" class="text-sm text-gray-500 hover:text-blue-600">About</a>
    <a href="#" class="ml-8 mr-4 text-sm text-gray-500 hover:text-blue-600">
      Login
    </a>
    <a href="#" class="ml-4 mr-8 text-sm text-gray-500 hover:text-blue-600">
      Sign Up
    </a>
    <a href="#" class="text-sm text-gray-500 hover:text-blue-600">
      Try it now!
    </a>
  </div>
  <div class="text-gray-700 mt-6">
    Copyright © 2021 Archinsti All rights reserved.
  </div>
</div>
