<div class="note-details d-flex flex-column h-100">
  <ng-container *ngIf="isChecked[Toolbar.Preview]; else markdownTextArea">
    <div class="note-details__content" [innerHTML]="htmlText"></div>
  </ng-container>

  <ng-template #markdownTextArea>
    <textarea
      class="note-details__markdownArea form-control"
      id="MarkdownContentTxtArea"
      placeholder="Type something"
      [(ngModel)]="markdownText"
      (ngModelChange)="onMarkdownChange()"
    ></textarea>
  </ng-template>
</div>
