// Colors
$border_color: #dfe4e7;
$inactive_state: #cccccc;
$active_state: #2787ec;

// Code Block Colors
$code_background_light: #fafafa;
$code_border_light: #e3e3e3;

// Spacings
$layout_padding: 10px 20px;
