/* You can add global styles to this file, and also import other style files */
// Tailwind CSS
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// Bootstrap Core (Required)
// @import '../node_modules/bootstrap/scss/_functions.scss';
// @import '../node_modules/bootstrap/scss/_variables.scss';
// @import '../node_modules/bootstrap/scss/_mixins.scss';

// Optional Bootstrap Imports
// @import '../node_modules/bootstrap/scss/_reboot.scss';
// @import '../node_modules/bootstrap/scss/_type.scss';
// @import '../node_modules/bootstrap/scss/_images.scss';
// @import '../node_modules/bootstrap/scss/_code.scss';
// @import '../node_modules/bootstrap/scss/_grid.scss';
// @import '../node_modules/bootstrap/scss/_nav.scss';
// @import '../node_modules/bootstrap/scss/_navbar.scss';
// @import '../node_modules/bootstrap/scss/_buttons.scss';
// @import '../node_modules/bootstrap/scss/utilities/_flex.scss';
// @import '../node_modules/bootstrap/scss/utilities/_display.scss';
// @import '../node_modules/bootstrap/scss/utilities/_spacing.scss';
// @import '../node_modules/bootstrap/scss/utilities/_sizing.scss';
// @import '../node_modules/bootstrap/scss/utilities/_overflow.scss';

// Custom CSS
@import './assets/styles/_text.scss';

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

/* Material design icon rules. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
